# Install the ported climbing navigation and controllers on vanilla spiders.
protected net.minecraft.entity.EntityLiving field_70699_by # navigator
protected net.minecraft.entity.EntityLiving field_70749_g # lookHelper
protected net.minecraft.entity.EntityLiving field_70765_h # moveHelper
